<nav>
  <a href=''>
    <img src='assets/logo.svg' class='logo'/>
  </a>
  <app-w-info-popup>
    <p>This is a simple application built with Angular (newer version).</p>
    <br/>
    <p>Here you can browse hotels, reserve a room in a hotel and manage your reservations.</p>
  </app-w-info-popup>

  <div class='main-nav'>
    <div class='main-nav-links'>
      <a class='app-link' href=''>
        <i class="fas fa-clipboard-list"></i>
        <span>Reservations</span>
      </a>
      <a class='app-link' href=''>
        <i class="fas fa-building"></i>
        <span>Hotels</span>
      </a>
    </div>
    <div class='bottom-border nav-underline'></div>
  </div>

  <app-w-mobile-nav>
    <div class='app-links-label'>
      Navigation
    </div>
    <div class='app-link-container'>
      <a class='app-link' href=''>
        <i class="fas fa-clipboard-list"></i>
        <span>Reservations</span>
      </a>
    </div>
    <div class='app-link-container'>
      <a class='app-link' href=''>
        <i class="fas fa-building"></i>
        <span>Hotels</span>
      </a>
    </div>
  </app-w-mobile-nav>
</nav>