<nav>
  <a routerLink="/hotels">
    <img src='assets/logo.svg' class='logo'/>
  </a>

  <div class='info-popup'>
    <i class="fas fa-info-circle popup" (click)="op.toggle($event)"></i>
    <p-overlayPanel #op appendTo='body' showCloseIcon='true'>
      <p>This is a simple application built with Angular (newer version). It is responsive, you can try it on a mobile device.</p>
      <br/>
      <p>Here you can browse hotels, reserve a room in a hotel and manage your reservations.</p>
    </p-overlayPanel>
  </div>

  <div class='main-nav'>
    <div class='main-nav-links'>
      <a routerLink="/reservations" class='app-link' routerLinkActive="active-link">
        <i class="fas fa-clipboard-list"></i>
        <span>Reservations</span>
      </a>
      <a routerLink="/hotels" class='app-link' routerLinkActive="active-link">
        <i class="fas fa-building"></i>
        <span>Hotels</span>
      </a>
    </div>
    <div class='bottom-border nav-underline'></div>
  </div>

  <div class='mobile-nav'>
    <div class='main-nav-mobile' (click)="display = true">
        <i class="fas fa-bars"></i>
    </div>
    <p-sidebar [(visible)]="display" position="top" blockScroll=true>
      <div class='app-links-label'>
        Navigation
      </div>
      <div class='app-link-container'>
        <a routerLink="/reservations" class='app-link' (click)="display = false" routerLinkActive="active-link">
          <i class="fas fa-clipboard-list"></i>
          <span>Reservations</span>
        </a>
      </div>
      <div class='app-link-container'>
        <a routerLink="/hotels" class='app-link' (click)="display = false" routerLinkActive="active-link">
          <i class="fas fa-building"></i>
          <span>Hotels</span>
        </a>
      </div>
    </p-sidebar>
  </div>
</nav>