<main>
  <header>
    <h1>Browse hotels</h1>
    <p>Vilnius, 2 hotels in total</p>
  </header>
  <section>
    <ng-container *ngFor="let hotel of hotels$ | async">
    <div class='ui-g hotel'>
      <div class='hotel-header'>
        <a class='hotel-link'>
          <i class="fas fa-building"></i>
          <span>{{hotel?.hotelName}}</span>
          <div class='bottom-border hotel-underline'></div>
        </a>
      </div>
      <a class='hotel-img'>
        <img [src]='hotel?.imgSrc'/>
      </a>
      <div class='hotel-content ui-g'>
        <div class='hotel-description'>
          <header>
            <a class='hotel-link'>
              <i class="fas fa-building"></i>
              <span>{{hotel?.hotelName}}</span>
              <div class='bottom-border hotel-underline'></div>
            </a>
          </header>
          <div class='hotel-description-text'>
              {{hotel?.description}}
          </div>
        </div>
        <div class='hotel-additional ui-g'>
          <div class='reviews'>
            <div>
              <app-w-rating [rating]='hotel?.rating'></app-w-rating>
            </div>
            <div>{{hotel?.userReviews?.avgRating.toFixed(1)}}  in {{hotel?.userReviews?.reviewsNumber}} reviews</div>
          </div>
          <div class='info'>
            <div>
              From <b>€{{getMinRoomPrice(hotel)}}</b>
              <ng-container *ngIf='getMaxNotMinRoomPrice(hotel)'>
                 to <b>€{{getMaxNotMinRoomPrice(hotel)}}</b>
              </ng-container>
            </div>
            <div><b>{{hotel?.rooms?.length}}</b> rooms available</div>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </section>
</main>