@import '../../variables';

nav{
    position: relative;
    padding: 10px;
}

.logo{
    display: inline-block;
    height: $logo-height;
    vertical-align: bottom;
}
.popup{
    color: $light-gray;
    font-size: 15px;
}

.main-nav{
    position: absolute;
    bottom: 0;
    right: 0;
}
.main-nav-links{
    padding: 0 0 10px 80px;
}
a.app-link{
    position: relative;
    text-decoration: none;
    padding: 5px 20px;

    i{
        position: relative;
        bottom: 3px;
        color: $light-gray;
        font-size: $font-size - 10px;
        padding: 0 10px;
    }

    span{
        font-size: $font-size;
        color: $link-color;
        font-style: italic;
    }
}
.bottom-border{
    background-color: $main-color;
    border-radius: 20px;
    height: 3px;
    border: 2px solid $main-color;
}