@import 'variables';

nav{
    position: relative;
    margin: 10px 20px;
    max-width: 1300px;
    margin: auto;
}

.logo{
    display: inline-block;
    height: $logo-height;
    vertical-align: bottom;
}

.main-nav{
    position: absolute;
    bottom: 0;
    right: 0;
}
app-w-mobile-nav{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.main-nav-links{
    padding: 0 0 10px 80px;
}
a.app-link{
    position: relative;
    text-decoration: none;
    padding: 5px 20px;

    i{
        position: relative;
        bottom: 3px;
        color: $light-gray;
        font-size: $font-size - 10px;
        padding: 0 10px;
    }

    span{
        font-size: $font-size;
        color: $link-color;
        font-style: italic;
    }
}
.app-link-container{
    padding: 10px 0;
}
.app-links-label{
    font-size: $font-size;
    padding: 10px 0;
    color: $main-color;
}
.bottom-border{
    background-color: $main-color;
    border-radius: 20px;
    height: 3px;
    border: 2px solid $main-color;
}

@media only screen and (max-width: 1000px) {
    .main-nav-links{
        padding: 0 0 10px 10px;
    }
}
@media only screen and (max-width: 800px) {
    .logo{
        height: $logo-height - 10px;
    }

    a.app-link{
    
        i{
            font-size: $font-size - 20px;
        }
    
        span{
            font-size: $font-size - 10px;
        }
    }

    .bottom-border{
        border-width: 1px;
    }
}
@media only screen and (max-width: 650px) {
    a.app-link{
        padding: 5px 10px;
    
        i{
            padding: 0 5px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .main-nav{
        display: none;
    }
    app-w-mobile-nav{
        display: block;
    }
}
@media only screen and (max-width: 350px) {
    .logo{
        height: $logo-height - 20px;
    }
}