@import '../../variables';

nav{
    position: relative;
    padding: 10px;
}

.logo{
    display: inline-block;
    width: $logo-width;
    height: $logo-height;
    background-color: black;
}

.main-nav{
    position: absolute;
    bottom: 0;
    right: 0;
}
.main-nav-links{
    padding: 0 0 10px 30px;
}
a.app-link{
    text-decoration: none;
    padding: 5px 20px;

    i{
        color: $light-gray;
        font-size: $font-size - 3px;
        padding: 5px;
    }

    span{
        font-size: $font-size;
        color: $link-color;
        font-style: italic;
        vertical-align: bottom;
    }
}
.bottom-border{
    background-color: $main-color;
    border-radius: 20px;
    height: 3px;
    border: 2px solid $main-color;
}