<main>
  <header id='main' class='ui-g'>
    <div class='hotel-header'>
      <h1>{{hotel.hotelName}}</h1>
      <div>{{hotel.street}}, {{hotel.city.cityName}}</div>
    </div>
    <div class='hotel-rating'>
      <app-w-rating [rating]='hotel.rating' class='hotel-star-rating'></app-w-rating>
      <div class='hotel-reviews'>{{hotel.userReviews.avgRating}} in {{hotel.userReviews.reviewsNumber}} reviews</div>
    </div>
  </header>
  <section>

    <div class='hotel-main-info ui-g'>
      <div class='hotel-img-item'>
      <div class='hotel-img-container'>
          <img class='hotel-img' [src]='hotel.imgBigSrc'/>
      </div>
      </div>
      <div class='hotel-description'>
        <header>
          <h3>Description</h3>
        </header>
        <div>{{hotel.description}}</div>
      </div>
      <div class='hotel-features'>
        <header>
          <h3>Facilities</h3>
        </header>
        <div class='hotel-features-list ui-g'>
          <ng-container *ngFor="let facility of hotel.facilities">
          <div class=hotel-feature>
            <i [class]="icons.getIconClassesByKey(facility)"></i>
            <span>{{facility}}</span>
          </div>
          </ng-container>
        </div>
      </div>
      <div class='hotel-features'>
        <header>
          <h3>Activities</h3>
        </header>
        <div class='hotel-features-list ui-g'>
            <ng-container *ngFor="let activity of hotel.activities">
            <div class=hotel-feature>
              <i [class]="icons.getIconClassesByKey(activity)"></i>
              <span>{{activity}}</span>
            </div>
            </ng-container>
          </div>
      </div>
    </div>

    <div class='hotel-rooms'>
      <header>
        <h3>Available rooms</h3>
      </header>
      <div class='hotel-rooms-list ui-g'>
        <ng-container *ngFor="let room of hotel.rooms">
        <div class='room ui-g'>
          <div class='room-name'>{{room.roomName}}</div>
          <div class='room-img-item'>
          <div class='room-img-container'>
            <img class='room-img' [src]='room.roomImgSrc'/>
          </div>
        </div>
          <div class='room-info'>
            <div class='room-sleeps'>
              <span class='room-sleeps-label'>Sleeps:</span>
              <ng-container *ngFor="let i of room.sleepsNumberArray()">
              <i class='fas fa-bed'></i>
              </ng-container>
              <span class='room-sleeps-number'>({{room.sleeps}})</span>
            </div>
            <div class='room-price'>
              <span class='room-price-label'>Price:</span>
              <b>€{{room.price}}</b>
            </div>
            <app-w-button class='room-reserve' buttonText='Reserve'></app-w-button>
          </div>
        </div>
        </ng-container>
      </div>
    </div>

  </section>
</main>