@import 'variables';

$hotel-img-width: 500px;
$hotel-img-height: 375px;

$room-img-width: 200px;
$room-img-height: 126px;
$room-img-width-mobile-big: 180px;
$room-img-height-mobile-big: 120px;
$room-img-width-mobile: 150px;
$room-img-height-mobile: 100px;
$room-img-aspect-ratio: $room-img-height/$room-img-width;
main{
    width: 90%;
    margin: auto;
}
h3{
    color: $main-color;
}

header#main{
    position: relative;
    margin-bottom: 20px;
    .standard-header{
        margin-bottom: 0;
    }
    .hotel-rating{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.hotel-main-info{
    .hotel-img-container{
        min-width: $hotel-img-width;
        padding-top: 100% * $hotel-img-height/$hotel-img-width;
        position: relative;
        img{
            position: absolute;
            top: 0;
            width: $hotel-img-width;
        }
    }
    .hotel-description{
        width: calc(100% - #{$hotel-img-width});
        padding: 0 20px;
        font-size: $font-size-small;
        line-height: $font-size;
    }
    .hotel-features{
        width: 50%;

        .hotel-features-list{
            padding-left: 10px;
        }
        .hotel-feature{
            width: 50%;
            padding-bottom: 20px;

            i{
                color: $light-gray;
            }
            span{
                padding-left: 5px;
            }
        }
    }
}

.hotel-rooms-list{
    .room{
        position: relative;
        width: 50%;
        padding-left: 10px;

        .room-img-container{
            position: relative;
            min-width: $room-img-width;
            padding-top: 100% * $room-img-aspect-ratio;
            overflow: hidden;
        }
        img.room-img{
            position: absolute;
            top: 0;
            width: $room-img-width;
        }
        .room-name{
            color: $main-color;
            //font-weight: bold;
            padding-bottom: 5px; 
            width: 100%;
        }
        .room-info{
            width: calc(100% - #{$room-img-width});
            padding: 0 10px 20px 10px;

            .room-sleeps{
                padding-bottom: 3px;
            }
            .room-sleeps-label, .room-price-label{
                padding-right: 5px;
            }
            .room-sleeps i{
                padding-right: 5px;
                color: $main-color;
            }
            .room-sleeps-number{
                padding-left: 5px;
            }

            .room-price b{
                color: $main-color;
            }
        }
    }
}

.room-reserve{
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1000px) {
    main{
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    .hotel-description h3{
        margin-top: 0;
    }
}
@media only screen and (max-width: 800px) {
    header#main{
        margin-bottom: 10px;
        .standard-header{
            width: 100%;
        }
    
        .hotel-rating{
            position: relative;
            width: 100%;
            margin-top: 5px;
        }
        .hotel-reviews{
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .hotel-main-info{
        .hotel-img-item{
            width: 90%;
            margin: auto;
        }
        .hotel-img-container{
            min-width: 0;
            img{
                width: 100%;
            }
        }

        .hotel-description{
            width: 100% !important;
            padding: 0;
            font-size: $font-size-standard-small;

            h3{
                margin: 1em 0 0.5em 0;
            }
            div{
                padding-left: 5px;
            }
        }
    }

    .hotel-rooms-list .room{
        width: 100%;
        margin-bottom: 40px;
        padding-left: 10%;

        .room-info{
            padding-right: 0; 
        }
        .room-name{
            font-size: $font-size-small;
            padding-bottom: 8px !important;
        }
    }
}
@media only screen and (max-width: 650px) {
    .hotel-main-info{
        .hotel-features{
            width: 100%;
        }
        .hotel-img-item{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 550px) {
    .standard-header h1{
        font-size: 1.5em;
    }
    .hotel-rooms-list{
        width: 90%;
        margin: auto;
    }
    .hotel-rooms-list .room{
        padding-left: 2%;
        .room-name{
            font-size: $font-size-small;
            padding-bottom: 8px !important;
        }
        .room-price{
            position: relative;
            display: block;
        }
        .room-sleeps{
            display: block;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 450px) {
    .hotel-rooms-list{
        width: 100%;
    }
    main, .hotel-description{
        font-size: $font-size-very-small !important;
    }
    .hotel-rooms-list .room .room-name{
        font-size: $font-size-standard-small !important;
    }
    .hotel-rooms-list .room{
        padding-left: 0;
    }
}
@media only screen and (max-width: 400px) {
    .hotel-rooms-list{
        width: 100%;
    }
    .hotel-rooms-list .room{
        .room-info{
            font-size: $font-size-very-small;

            .room-sleeps{
                padding-bottom: 2px;
            }
            .room-sleeps-label, .room-price-label{
                padding-right: 3px;
            }
            .room-sleeps i{
                padding-right: 3px;
            }
            .room-sleeps-number{
                padding-left: 3px;
            }
        }
        .room-img-container{
            min-width: $room-img-width-mobile-big;
            padding-top: 100% * $room-img-aspect-ratio;
        }
        img.room-img{
            width: $room-img-width-mobile-big;
        }
        .room-info{
            width: calc(100% - #{$room-img-width-mobile-big});
        }
    }
}
@media only screen and (max-width: 350px) {
    .hotel-rooms-list .room{
        .room-img-container{
            min-width: $room-img-width-mobile;
            padding-top: 100% * $room-img-aspect-ratio;
        }
        img.room-img{
            width: $room-img-width-mobile;
        }
        .room-info{
            width: calc(100% - #{$room-img-width-mobile});
        }
    }
}