<main>
  <header>
    <h1>Browse hotels</h1>
    <p>Select city</p>
  </header>

  <section class='ui-g'>
    <a class='myui-g-6 myui-sm-12'>
      <div class='city'>
        <div class='city-details'>
          <img src='assets/flags/lt-flag.png'/>
          <span class='city-name'>Vilnius</span>
          <span class='city-meta'>2 hotels in total</span>
        </div>
        <div class='bottom-border city-seperator'></div>
        <div>
          <img class='city-image' src='assets/cities/Vilnius.jpg'/>
        </div>
      </div>
    </a>
    <a class='myui-g-6 myui-sm-12'>
      <div class='city'>
        <div class='city-details'>
          <img src='assets/flags/gb-flag.png'/>
          <span class='city-name'>London</span>
          <span class='city-meta'>3 hotels in total</span>
        </div>
        <div class='bottom-border city-seperator'></div>
        <div>
          <img class='city-image' src='assets/cities/London.jpg'/>
        </div>
      </div>
    </a>
    <a class='myui-g-6 myui-sm-12'>
      <div class='city'>
        <div class='city-details'>
          <img src='assets/flags/fr-flag.png'/>
          <span class='city-name'>Paris</span>
          <span class='city-meta'>4 hotels in total</span>
        </div>
        <div class='bottom-border city-seperator'></div>
        <div>
          <img class='city-image' src='assets/cities/Paris.jpg'/>
        </div>
      </div>
    </a>
    <a class='myui-g-6 myui-sm-12'>
        <div class='city'>
          <div class='city-details'>
            <img src='assets/flags/de-flag.png'/>
            <span class='city-name'>Berlin</span>
            <span class='city-meta'>2 hotels in total</span>
          </div>
          <div class='bottom-border city-seperator'></div>
          <div>
            <img class='city-image' src='assets/cities/Berlin.jpg'/>
          </div>
        </div>
    </a>
  </section>
</main>
