@import 'variables';

$grid-item-padding: 30px;
main{
    max-width: 2*$max-city-picture-width + 2*$grid-item-padding;
    margin: auto;
}
section{

    a{
        padding: 0;
        cursor: pointer;
        padding-bottom: 2*$grid-item-padding;
        &:hover{
            background-color: $hover-color;
        }
    }
    a:nth-child(odd){
        padding-right: $grid-item-padding;
    }
    a:nth-child(even){
        padding-left: $grid-item-padding;
    }
    a:last-child{
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1000px) {
    main{
        max-width: 2*$max-city-picture-width + 2*$grid-item-padding;
    
        a{
            padding-bottom: $grid-item-padding;
        }
        a:nth-child(odd){
            padding-right: $grid-item-padding/2;
        }
        a:nth-child(even){
            padding-left: $grid-item-padding/2;
        }
    }
}
@media only screen and (min-width: 800px) {
    section a:nth-last-child(2){
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 800px) {
    main{
        max-width: $max-city-picture-width;
        a{
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}