@import 'variables';

.content{
    position: relative;
    max-width: $max-content-width;
    margin: auto;
    padding: $header-padding-top-bottom $content-padding-left-right;
    margin-bottom: 50px;
}
@media only screen and (max-width: 400px) {
    .content{
        padding: $header-padding-top-bottom $content-padding-left-right-mobile;
    }
}