<div class='ui-g'>
  <table class='desktop-table'>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Check-in date</td>
      <td>Check-out date</td>
      <td>Total price</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Check-in date</td>
      <td>Check-out date</td>
      <td>Total price</td>
    </tr>
  </table>
  <div class='buttons'>
    <button matStepperPrevious type="button">Back</button>
    <button type="submit">Submit</button>
  </div>
</div>