<main [@opacity]="'in'">
    
    <header class='standard-header'>
        <h1>Reservation</h1>
        <p>{{room?.roomName}} (€{{room?.price}}), {{hotel?.hotelName}}</p>
    </header>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-horizontal-stepper linear>

      <ng-template matStepperIcon="number" let-index="index">
            <div class='mat-number'>
            <span class='mat-icon-num'>{{index+1}}</span>
            </div>
        </ng-template>
        <ng-template matStepperIcon="edit" let-index="index">
            <span class='mat-icon-num'>{{index+1}}</span>
        </ng-template>
        <ng-template matStepperIcon="done" let-index="index">
            <span class='mat-icon-num'>{{index+1}}</span>
        </ng-template>

        <mat-step [stepControl]="formGroup.get('first')">
            <ng-template matStepLabel>Choose dates</ng-template>
            <app-reserve-form-first-step [formGroup]="formGroup" [room]="room"></app-reserve-form-first-step>
        </mat-step>
        <mat-step [stepControl]="formGroup.get('second')">
            <ng-template matStepLabel>Enter details</ng-template>
            <app-reserve-form-second-step [formGroup]="formGroup"></app-reserve-form-second-step>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Confirm</ng-template>
            <app-reserve-form-third-step [formGroup]="formGroup" [room]="room" [isFormSubmited]='isFormSubmited'></app-reserve-form-third-step>
        </mat-step>
        </mat-horizontal-stepper>
    </form>
</main>
