mat-form-field{
    display: block;
}
.first-col{
    width: 50%;
    padding-right: 15px;
}
.second-col{
    width: 50%;
    position: relative;
    padding-left: 15px;

    .buttons{
        width: 100%;
        position: absolute;
        bottom: 0;

        button:nth-child(2){
            position: absolute;
            right: 0;
        }
    }
}