<div class='ui-g' [formGroup]='formGroup'>
  <div class='first-col' formGroupName='second'>
      <input formControlName='firstName' placeholder="First name" value=""
      autocomplete="off" pInputText >
      <input formControlName='lastName' placeholder="Last name" value=""
      autocomplete="off" pInputText >
  </div>
  <div class='second-col' formGroupName='second'>
      <input formControlName='email' placeholder="Email" value=""
      autocomplete="off" pInputText >
    <div class='buttons'>
      <button matStepperPrevious type="button">Back</button>
      <button matStepperNext type="button">Next</button>
    </div>
  </div>
</div>