@import 'variables';

html{
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
body{
    min-width: 300px;
    min-height: 100%;
    margin: 0;
    padding-bottom: $footer-height;
}

.ui-overlaypanel{
    width: 20%;
    min-width: 200px;
}
.ui-overlaypanel-close{
    background-color: #3da7eb !important;
}
.ui-sidebar{
    height: auto;
}