$main-color: #3da7eb;
$link-color: #25658e;
$light-gray: #dedede;
$dark-gray: #525252;
$error-red: #de5e5e;

$max-content-width: 1450px;
$min-page-width: 300px;
$header-padding-top-bottom: 20px;
$content-padding-left-right: 20px;
$content-padding-left-right-mobile: 10px;

$footer-height: 45px;

$font-size-big: 35px;
$font-size: 25px;
$font-size-small: 18px;
$font-size-standard-small: 16px;
$font-size-very-small: 14px;

$max-city-picture-width: 540px;
$max-city-picture-height: 270px;