$main-color: #3da7eb;
$link-color: #25658e;
$light-gray: #dedede;
$dark-gray: #525252;

$max-content-width: 1450px;
$min-page-width: 300px;
$header-padding-top-bottom: 20px;
$content-padding-left-right: 20px;

$footer-height: 45px;

$font-size-big: 35px;
$font-size: 25px;

$max-city-picture-width: 540px;