.first-col{
    width: 50%;
    padding-right: 15px;
}
.second-col{
    position: relative;
    padding-left: 15px;
    padding-bottom: 30px; 
    width: 50%;

    button{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.input-container{
    display: block;
    padding: 10px 0;
    width: 90%;
    padding-right: 2.357em;
}

@media only screen and (max-width: 700px) {
    .input-container{
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .first-col{
        width: 100%;
        padding: 0;
    }
    .second-col{
        width: 100%;
        padding-top: 20px;
        padding-left: 0;
    }
}