mat-form-field{
    display: block;
}
.first-col{
    width: 50%;
    padding-right: 15px; 
}
.second-col{
    position: relative;
    padding-left: 15px;
    width: 50%;

    button{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.input-container{
    display: block;
    padding: 10px 0;
    width: 90%;
    padding-right: 2.357em;
}